.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.about .about-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
}

.about .about-content .personal-info {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .skills{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5{
    line-height: 35px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    margin: 0;
}
.about .about-content .skills .skill-item{
    margin-bottom: 30px;
}
.about .about-content .skills .skill-item .progress{
    background-color: #e3e3e3;
    height: 8px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in{
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.about .about-content .skills .skill-item .skill-percent {
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 600;
    color: #302e4d;
}
.about .about-content .personal-info .info-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    margin: 0;
    color: #302e4d;
    border-bottom: 1px solid #e8dfec;
}
.about .about-content .personal-info .info-item p div{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.btn{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: #ffffff;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}
.btn:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.education{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.experience{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 700;
    color: #302e4d;
}
.timeline-box{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.timeline{
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.timeline .timeline-item{
    position: relative;
    padding-left: 35px;
    padding-bottom: 50px;
}
.timeline .timeline-item:last-child{
    padding-bottom: 0px;
}
.timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
}
.timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 3px;
    height: 15px;
    width: 15px;
    left: 0;
    border-radius: 50%;
}
.timeline .timeline-date{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #504e70;
}
.timeline .timeline-date .fa{
    margin-right: 5px;
}

.timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
}
.timeline .timeline-text{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
}