.blog .container {
    padding-bottom: 40px;
}
.blog .blog-item{
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex;
}

.blog-img img{
    width: 100%;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.blog-item-inner:hover .blog-img img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.blog-item-inner{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d4e3;
    width: 100%;
    background-color: #fdf9ff;
}
.blog-info{
    padding: 30px 15px;
}
.blog-title{
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.blog-description{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    font-weight: 400;
    margin-bottom: 15px;
}
.blog-tags{
    line-height: 25px;
    color: #504e70;
    font-weight: 400;
    text-transform: capitalize;
}
.blog-tags a{
    text-decoration: none;
    font-weight: 600;
}
.blog-date{
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    left: 15px;
    bottom: 15px;
}
.blog-img{
    position: relative;
    overflow: hidden;
}